.View {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.View.hidden {
  display: none;
}

.View-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  img {
    width: 300px;
    max-width: 100%;
  }
}

.View-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, max-content));
  column-gap: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 60px;
}

.View-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  .View-list-item-cover {
    position: relative;
    background-color: var(--purple);
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: var(--purple);
      transition: width 100ms ease-out, height 100ms ease-out;
      will-change: width, height;
      // transition: transform 100ms ease-out;
      // will-change: transform;
    }
    .View-list-item-cover-image {
      position: relative;
      transition: filter 100ms ease-out;
      will-change: filter;
      width: 100%;
      max-width: 100%;
    }
  }
  &:hover {
    .View-list-item-cover::before {
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      // transform: translate(calc(-50% - 10px), calc(-50% - 10px));
    }
    .View-list-item-title {
      background-color: rgba(255, 255, 255, 0.9);
      color: var(--purple);
    }
  }
}

.View-list-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  font-weight: bolder;
  text-align: center;
  // background-color: rgba(0, 0, 0, 0.9);
  background-color: var(--purple-opacity);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  transition: background-color 100ms ease-out, color 100ms ease-out;
  will-change: background-color, color;
}

.View-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  &.bottom {
    margin-top: 0;
    padding: 60px 0;
  }
  li {
    display: flex;
    border-radius: 50%;
    transition: filter 100ms ease-out;
    will-change: filter;
    a {
      cursor: pointer;
    }
    &:not(:nth-child(1)) {
      &:not(:last-child) {
        // Styles for page numbers only (exclude previous/next buttons)
        a {
          color: var(--purple);
          font-weight: bolder;
          text-underline-position: under;
          padding: 8px;
        }
        a:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}

.View-pagination-control {
  border-radius: 50%;
  margin: 0 20px;
  background-color: var(--purple);
  transition: background-color 100ms ease-out;
  will-change: background-color;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    transition: filter 100ms ease-out;
    will-change: filter;
  }
  &:hover {
    background-color: white;
    img {
      filter: brightness(30%);
    }
  }
}

.pagination-active a {
  color: white !important;
  text-decoration: underline;
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  filter: grayscale(100%);
}

.View-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 60px 0;
  background-color: var(--dark);
}

.View-title {
  color: white;
  opacity: 0.3;
  margin: 60px 0;
}

.View-input {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  input {
    border-radius: 30px;
    background-color: var(--purple);
    outline: 0;
    padding: 20px;
    padding-right: 50px;
    color: white;
    font-size: 18px;
    font-family: var(--font-family);
    border: none;
    min-width: 300px;
    &::placeholder {
      color: white;
      opacity: 0.3;
    }
  }
  img {
    // x.svg
    -webkit-user-drag: none;
    position: absolute;
    right: 15px;
    bottom: 50%;
    transform: translateY(50%);
    transform-origin: center;
    cursor: pointer;
    opacity: 0.3;
    transition: transform 100ms ease-out, opacity 100ms ease-out;
    will-change: transform, opacity;
    &:hover {
      opacity: 1;
      transform: translateY(50%) rotate(90deg);
    }
  }
  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    left: -120px;
    bottom: -100px;
    width: 100px;
    height: 300%;
    transform: rotate(20deg);
    background-color: white;
    opacity: 0.7;
    will-change: left;
  }
  &:hover::after {
    transition: left 400ms ease-in-out;
    left: calc(100% + 100px);
  }
}

.View-back {
  z-index: 99;
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  &::before {
    z-index: -2;
    pointer-events: none;
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    transform: scale(0);
    border-radius: 50%;
    background-color: var(--purple);
    transition: transform 100ms ease-out;
    will-change: transform;
  }
  &:hover {
    .View-back-button {
      background-color: white;
      transform: scale(1.1) rotate(-20deg);
      img {
        transition: filter 100ms ease-out;
        will-change: filter;
      }
      img {
        filter: brightness(30%);
      }
    }
    &::before {
      transform: scale(1);
    }
  }
  .View-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    background-color: var(--purple);
    transition: background-color 100ms ease-out, transform 100ms ease-out;
    will-change: background-color, transform;
  }
}

.View-scrollTop {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  opacity: 0;
  transition: background-color 100ms ease-out, opacity 100ms ease-out;
  will-change: background-color, opacity;
  &.visible {
    opacity: 1;
  }
  &::before {
    z-index: -2;
    pointer-events: none;
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    transform: scale(0);
    border-radius: 50%;
    background-color: var(--purple);
    transition: transform 100ms ease-out;
    will-change: transform;
  }
  &:hover {
    .View-scrollTop-button {
      background-color: white;
      transform: scale(1.1);
      img {
        transition: filter 100ms ease-out;
        will-change: filter;
      }
      img {
        filter: brightness(30%);
      }
    }
    &::before {
      transform: scale(1);
    }
  }
  .View-scrollTop-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--purple);
    border-radius: 50%;
    transform-origin: center;
    transition: background-color 100ms ease-out;
    will-change: background-color, opacity;
  }
}
