@import "../../variables.scss";

.ChapterView {
  // Necessary for remembering MangaView scroll distance
  overflow-y: auto;
}

.ChapterView-loading img {
  max-width: 100%;
}

.ChapterView-list-entry {
  user-select: none;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid white;
  color: white;
  &:hover {
    background-color: #b3b3b3;
  }
}
