.ChapterView {
  // Necessary for remembering MangaView scroll distance
  overflow-y: auto;
}

.ChapterView-loading img {
  max-width: 100%;
}

.ChapterView-list-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  color: white;
}

.ChapterView-list-entry-status {
  div {
    padding: 10px;
    img {
      width: 20px;
      filter: grayscale(0) brightness(100%);
      transition: filter 100ms ease-out;
      will-change: filter;
    }
  }
}

.ChapterView-list-entry-status-download,
.ChapterView-list-entry-status-downloaded {
  cursor: pointer;
  &:hover img {
    filter: grayscale(100%) brightness(500%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ChapterView-list-entry-status-downloading img {
  animation: spin 1000ms infinite;
}

.ChapterView-details {
  div {
    color: white;
    span {
      font-weight: bolder;
    }
  }
}