@import "../../variables.scss";

.ChapterView,
.ChapterView-list {
  overflow-y: auto;
}

.ChapterView {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.ChapterView-list {
  min-height: 300px;
  min-width: 300px;
}

.ChapterView-list-entry {
  user-select: none;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid black;
  &:hover {
    background-color: #b3b3b3;
  }
}
