.ChapterView {
  // Necessary for remembering MangaView scroll distance
  overflow-y: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ChapterView-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 300px;
    max-width: 100%;
  }
}

.ChapterView-list {
  overflow-y: auto;
}

.ChapterView-list-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  color: white;
  &:nth-child(odd) {
    background-color: var(--dark);
  }
}

.ChapterView-list-entry-title {
  white-space: nowrap;
  font-weight: bolder;
}

.ChapterView-list-entry-status {
  div {
    padding: 10px;
    img {
      width: 20px;
      filter: grayscale(0) brightness(100%);
      transition: filter 100ms ease-out;
      will-change: filter;
    }
  }
}

.ChapterView-list-entry-status-download,
.ChapterView-list-entry-status-downloaded {
  cursor: pointer;
  &:hover img {
    filter: grayscale(100%) brightness(500%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ChapterView-list-entry-status-downloading img {
  animation: spin 1000ms infinite;
}

.ChapterView-header {
  position: relative;
  padding: 30px;
  background-color: var(--dark);
  overflow-y: auto;
}

.ChapterView-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    max-width: 300px;
  }
}

.ChapterView-details {
  div {
    padding: 10px 0;
    color: white;
    border-bottom: 1px solid white;
    span {
      font-weight: bolder;
      color: var(--purple);
    }
  }
}

.ChapterView-title {
  font-size: 32px;
  font-weight: bolder;
}
