.Reader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Reader-header {
  z-index: 99;
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  padding: 10px;
  opacity: 0;
  box-sizing: 10px 10px 5px rgba(0, 0, 0, 0.5);

  // Show for 3 seconds initially before fading
  animation: fade 100ms ease-out 3000ms backwards;

  // Longer transition when hover off
  transition: opacity 100ms ease-out 1000ms;
  will-change: opacity;
  &:hover {
    opacity: 1;
    transition: opacity 100ms ease-out;
  }
  &::before {
    // Padding to make hover target larger (easier to hover when invisible)
    content: "";
    position: absolute;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
  }
  .Reader-header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    img {
      transition: opacity 100ms ease-out;
      will-change: opacity;
    }
    &:hover img {
      opacity: 0.7;
    }
    &.disabled {
      opacity: 0.4;
    }
  }
  .Reader-header-chapter {
    color: white;
    font-weight: bolder;
  }
}

.Reader-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  // Temporary
  width: 60%;
}

.Reader-list-entry {
  margin: 10px 0;
  img {
    width: 100%;
    max-width: 100%;
  }
}

.Reader-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
