@import "./variables.scss";

.App {
  // background-color: $dark;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
}

.SourceView {
  z-index: 1;
}

.MangaView {
  z-index: 2;
}

.ChapterView {
  z-index: 3;
}