@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  background-color: $dark;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $purple;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
