@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}