// Variables
:root {
  --light: #dfe6e9;
  --darkish: #19191a;
  --dark: #111111;
  // --darkish: white;
  // --dark: #ecf0f1;
  --purple: #6c5ce7;
  --purple-opacity: rgba(108, 92, 231, 0.9);
  --lavender: #a29bfe;
  --font-family: "Noto Sans JP", sans-serif;

  @font-face {
    font-family: "Noto Sans JP";
    src: url("./assets/fonts/NotoSansJP-Regular.otf") format("otf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Noto Sans JP";
    src: url("./assets/fonts/NotoSansJP-Thin.otf") format("otf");
    font-weight: 100;
  }

  @font-face {
    font-family: "Noto Sans JP";
    src: url("./assets/fonts/NotoSansJP-Bold.otf") format("otf");
    font-weight: 700;
  }
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  line-height: 1.5;
}

html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  background-color: var(--darkish);
  // font-size: 16px;
}

img {
  -webkit-user-drag: none;
}

a {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--lavender);
}
