@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$light: #dfe6e9;
$darkish: #161616;
$dark: #111111;
$purple: #6c5ce7;
$lavender: #a29bfe;
$font-family: "Open Sans", sans-serif;
